/*React default styles*/
.App {
  text-align: center;
}
h1{
 text-align: center;
}

.App-logo {
  margin: 0 auto;
  display: block;
  padding: 10px;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f7f7f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(124, 159, 155);
}

.App-link {
  color: #61dafb;
}

/*Styles from wireframe*/
/*Will be updated to look better and match color theme*/
.dash-link {
  text-decoration: none;
  position: relative;
}

.dash-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  animation: underline 0.4s ease-in-out forwards;
}

@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/*Navigation Elements*/
nav {
  background-color: #a0c699;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;

}

nav input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-left: auto;
  margin-right: 50px;
}

nav h1 {
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 48px;
}

/*Footer Elements*/
footer {
  background-color: rgb(160, 198, 153);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

footer p {
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
}

/* News/Forum */
#post-form {
  margin-bottom: 20px;
}

.post {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.post:hover {
  background-color: #f0f0f0;
}

/* Home Side */
@keyframes scrollRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-23%);
  }
}
.scroll-container {
  display: flex;
  overflow: hidden;
  gap: 20px;
  animation: scrollRight 10s linear infinite;

}
.card {
text-align: left;
margin-left: 15px;
}

/* Main Page */
.splitScreen {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.topPane {
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #7c9f9b;
  padding: 50px;
  box-sizing: border-box;
}

.bottomPane {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .splitScreen {
    flex-direction: column;
  }
  .botttomPane {
    align-items: center;
  }
}

/* Login Side */
/*
.login {
  width: 350px;
  height: 500px;
  color: #FFFFFF;
  background: linear-gradient(to top,rgb(124, 159, 155)50%,rgb(124, 159, 155)50%);
  border-radius: 10px;
  padding: 40px 25px;
}
*/

.login {
  width: 80%;
  height: auto;
  max-width: 300px;
  padding: 40px 20px;
  border-radius: 10px;
  color: #FFFFFF;
  background: linear-gradient(to top,rgb(124, 159, 155)50%,rgb(124, 159, 155)50%);
  text-align: center; 
}


.login input {
  width: 100%;
  height: 35px;
  padding-top: 10px;
  margin-bottom: 15px;
  background: transparent;
  border-bottom: 1px solid #FFFFFF;
  border-top: none;border-left: none;border-right: none;
  color:#FFFFFF;
  font-size: 15px;
  letter-spacing: 1px;
  outline: none;
}

.login input:focus {
  outline: none;
}

::placeholder {
  color: #FFFFFF;
}


.btn-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
  color: #FFCCCB;
  font-size: 25px;
}

.btn {
  font-size: 18px;
  padding:10px 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}

.btn:hover {
  color: #FFFFFF;
  font-weight: bold;
}

/* Livestock Page */
table {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
  width: 80%;

}
th,td {
  border: 1px solid #ccc;
  padding: 5px;
}
.editButton {
  padding: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 20px;
  color: #7c9f9b;
  height: 40px;
  width: 70px;
  margin-bottom: 20px;
  align-self: flex-end;
  margin-left: auto;
}
.moreInfo {
  margin-bottom: 20px;
}

/* Add User/Animal */
.AddContainer {
  display: flex;             
  flex-direction: column;   
  justify-content: center;   
  align-items: center;          
  width: 28%;
  margin-top: 50px;
  margin-bottom: 20px;
  background: #7c9f9b;
  mix-blend-mode: normal;
  border-radius: 10px;
  padding: 30px;              
  position: relative;
  cursor: pointer;  
}
.Add {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  width: 100%;                 
  margin-bottom: 20px;        
  display: flex;              
  flex-direction: column;     
  align-items: center;    
  justify-content: center;
}

.inputField {
  width: 95%;                
  padding: 13px;             
  border-radius: 12px;
  border: 1px solid #8f8787;     
  font-size: 16px;     
  text-align: left;
}
.submit {
  bottom: 30px;              
  padding: 10px 20px;        
  background-color: #176a60;    
  color: white;               
  border: none;              
  border-radius: 10px;       
  cursor: pointer;           
  font-size: 18px;           
  align-items: right;
}

.label {
  margin-right: auto;
  margin-left: 5px;
  margin-bottom: 2px;
  text-decoration: underline;
}