/********************************************************************
 * GLOBALS
 *******************************************************************/

:root {
  --color-blue: rgb(143, 190, 204);
  --color-green: rgb(145, 201, 128);
  --color-red: rgb(228, 100, 100);
  --color-orange: rgb(243, 233, 170);
  --color-white: rgb(247, 247, 247);
  --color-gray: rgb(218, 218, 218);
  --color-black: rgb(49, 49, 49);
  --color-shadow: rgba(166, 166, 166, 0.25);
}

html {
  font-size: 10pt;
  color: var(--color-black);
  background-color: var(--color-white);
}

* {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.App-logo {
  margin: 0 auto;
  display: block;
  padding: 10px;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.invisible {
  visibility: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__header {
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-white);
  text-align: center;
  background: var(--color-blue);
  padding: 4rem;
  /* margin: 1.5rem; */
  margin: 3rem 0;
  border-radius: 0.5rem;
}

main {
  flex: 1;
  margin: 0 1.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--color-black);
}

/********************************************************************
 * About.js
 *******************************************************************/

.about {
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

@keyframes scrollRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-23%);
  }
}

.scroll-container {
  display: flex;
  overflow: hidden;
  gap: 20px;
  animation: scrollRight 10s linear infinite;
  padding: 30px;
}

.card {
  text-align: left;
  margin-left: 15px;
}

/********************************************************************
 * Navigation.js
 *******************************************************************/

nav {
  position: sticky;
  top: 0;
  color: var(--color-white);
  background-color: var(--color-green);
  box-shadow: 0px 0px 0.5rem 0.5rem var(--color-shadow);
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

nav li {
  margin: 1.5rem;
  text-decoration: none;
  position: relative;
}

/* nav input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-left: auto;
  margin-right: 50px;
} */

nav li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  animation: underline 0.25s ease-in-out forwards;
}

@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/********************************************************************
 * Footer.js
 *******************************************************************/

footer {
  color: var(--color-white);
  background-color: var(--color-green);
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/********************************************************************
 * Login.js
 *******************************************************************/

.login {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
  padding: 2rem;
  border-radius: 10px;
  color: var(--color-white);
  background-color: var(--color-blue);
}

.login * {
  font-size: 1.5rem;
}

.login__title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.login__background {
  position: relative;
  background-image: url(farm-test.jpeg);
  background-position: center;
  background-size: cover;
}

.login__error {
  margin-top: 1rem;
  text-align: center;
  color: var(--color-red);
}

.login input {
  display: block;
  background: transparent;
  border-bottom: 1px solid currentColor;
  border-top: none;
  border-left: none;
  border-right: none;
  color: inherit;
  outline: none;
  margin: 2rem 0;
}

.login button {
  display: block;
  margin: auto;
}

.login input:focus {
  outline: none;
}

::placeholder {
  color: var(--color-white);
}

.login__button {
  font-size: 18px;
  padding: 10px 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.login__button:hover {
  color: #ffffff;
  font-weight: bold;
}

/********************************************************************
 * Post.js / Comment.js
 *******************************************************************/

.announcement {
  background-color: var(--color-orange) !important;
}

.post {
  background-color: var(--color-gray);
  font-size: 1.5rem;
  margin: 1.5rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.post__header,
.comment__header {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  /* font-size: 1.25rem; */
  font-weight: bold;
}

.post__title,
.comment__title {
  flex: 1;
}

.post__title {
  font-size: 1.75rem;
}

.comment__title {
  font-size: 1.25rem;
}

.post__body {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  justify-content: space-between;
  font-size: 1.5rem;
}

.post__button,
.comment__button {
  display: block;
  border: none;
  padding: 0.5em;
  margin-left: 1rem;
  color: var(--color-white);
  background-color: var(--color-black);
  font-weight: bold;
  border-radius: 0.5rem;
}

.post__create {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.button--delete {
  background-color: var(--color-red);
}

.comment {
  background-color: var(--color-white);
  margin: 1rem 0;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

/********************************************************************
 * Livestock.js
 *******************************************************************/

.livestock__table {
  border-collapse: collapse;
  margin: auto;
  min-width: 100%;
  font-size: 1.25rem;
}

.livestock__table th {
  border-bottom: 2px solid var(--color-black);
  text-align: left;
}

.livestock__table th > div {
  display: flex;
}

.livestock__table th:hover {
  background-color: var(--color-gray);
}

.livestock__sort {
  display: inline-block;
  margin-left: auto;
  font-size: 0.75rem;
  vertical-align: middle;
}

.livestock tr {
}

.livestock__table tbody tr:hover {
  background-color: var(--color-gray);
}

.livestock__table td,
.livestock__table th {
  padding: 1rem;
  border: 2px solid var(--color-gray);
}

.livestock__add {
  justify-content: center;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-black);
  background-color: var(--color-orange);
}

/********************************************************************
 * CreatePost.js
 *******************************************************************/

.create {
  display: flex;
  flex-direction: column;
}

.create > div {
  text-align: center;
  margin: 1.5rem;
}

.create input,
.create textarea {
  background-color: var(--color-white);
  width: 100%;
  max-width: 100%;
}

.create__title {
  background-color: var(--color-white);
}

.audit {
  margin: auto;
  white-space: nowrap;
}

.audit > table > tbody > tr:first-child > * {
  border: none;
}

.audit table {
  text-align: left;
  /* width: initial; */
  margin: 2rem auto 2rem auto;
  border: none;
}

.audit table table {
  width: initial;
  margin: auto;
}

.audit th,
.audit td {
  /* width: 50%; */
  white-space: nowrap;
  width: 1%;
}

/* .audit th {
} */
